body{
	width: 100%;
}

form.login{
	padding: 10px;
}

div.form-container{
	padding: 10px;
}

div.form-container.heb{
	direction: rtl;
}

.field-header{
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

div.field-container{
	margin: 10px 0;
}

div.form-container input[type='text']{
	margin-bottom:0;
}

div.form-container textarea[type='text']{
	vertical-align: top;
	margin-bottom: 0;
	height: 100px;
	resize: none;
}

div.btn-group, div.form-horizontal>*{
	direction: ltr;
}

/* Time directive */
span.time-directive{										/***/
	display: inline-block;								/***/
	direction: ltr;										/***/
}														/***/
span.time-directive input[type='text']{					/***/
	width:20px;											/***/
	text-align:center;									/***/
	display: block;										/***/
	margin-top: -2px;									/***/
	border-radius:0;									/***/
	-webkit-box-shadow:none;							/***/
	-box-shadow:none;									/***/
}														/***/
.time-directive .time-input-container{					/***/
	display: inline-block;								/***/
	vertical-align: middle;								/***/
	margin: 0 2px;										/***/
}														/***/
.time-directive .time-input-container>button{				/***/
	width: 34px;										/***/
	height: 16px;										/***/
}														/***/
.time-directive .time-input-container>button:first-child{	/***/
	border-radius: 4px 4px 0 0;							/***/
}														/***/
.time-directive .time-input-container>button:last-child{	/***/
	margin-top: -8px;									/***/
	border-radius: 0 0 4px 4px;							/***/
}														/***/
.time-directive .time-input-container>.btn>span{			/***/
	margin-top: 2px;									/***/
}														/***/
/* Time directive END*/

/* Dropdown directive */						
span.dropdown-directive{									/***/
	display: inline-block;								/***/
	direction:rtl;										/***/
}														/***/
span.dropdown-directive button.btn{						/***/
	border-radius: 4px 0 0 4px;							/***/
}														/***/
span.dropdown-directive button.btn:first-child{			/***/
	border-radius: 0 4px 4px 0;							/***/
	margin-left: -1px;									/***/
	width:32px;											/***/
}														/***/
span.dropdown-directive ul{								/***/
	direction:ltr;										/***/
}														/***/
.dropdown .dropdown-menu{								/***/
	max-height: 300px;									/***/
	overflow-y: auto;									/***/
	min-width: 0px;										/***/
}														/***/
/* Dropdown directive END */

.file-upload{
	width: 200px;
	height:200px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	display:inline-block;
	position:relative;
}
.file-upload .drop-spot{
	position:absolute;
	width: 100%;
	height: 100%;
	display:table;
}

.horizontal-flip{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
