<!doctype html>
<html ng-app="formmaker">
	<TITLE>Form Maker</TITLE>
	<head>
		<script src="../vendor/jquery/jquery.js"></script>
		<script src="../vendor/angular/angular.min.js"></script>
		<script src="../vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
		<script src="../src/MyDirectives.js"></script>
		<script src="../src/MyControllers.js"></script>
		<link rel="stylesheet" TYPE="text/css" href="../styles/skin.css">
		<link href="../vendor/bower-bootstrap-css/bootstrap.css" rel="stylesheet">

	</head>

	<body ng-app ng-cloak>

		<div class ="form-container heb" ng-controller="MyHebForm">
		
			<h3>דו"ח עבור - {{fields[0].content}} {{fields[1].content}}  >> {{fields[5].selected}}</h3>
			<form>
				<div ng-repeat="field in fields" ng-switch on="field.type" class="field-container"> 
					
					<short-text ng-switch-when="shorttextfield" fieldname='field.fieldname' placeholder='field.placeholder' model='field.content'></short-text>
					<long-text ng-switch-when="longtextfield" fieldname='field.fieldname' placeholder='field.placeholder' model='field.content'></long-text>
					<buttons-radio ng-switch-when="radiobuttons" fieldname='field.fieldname' data-toggle="buttons-radio" model='field.selected' options='field.options'></buttons-radio>
					<checkboxses ng-switch-when="checkboxses" fieldname='field.fieldname' data-toggle="buttons-radio" model='field.selected' options='field.options'></checkboxses>
					<image-container ng-switch-when="image" fieldname='field.fieldname' file-dropzone="[image/png, image/jpeg, image/gif]" file="fields[7].image" file-name="fields[7].imageFileName" data-max-file-size="10"></image-container>
					<date ng-switch-when="date" fieldname='field.fieldname' model='field.date'></date>
					<time ng-switch-when="time" fieldname='field.fieldname' model='field.time'></date>
					
				</div>
			</form>
			
						
				
			
		</div>
		<hr>
		<div class ="form-container eng" ng-controller="MyEngForm">
			<h3>Report for - {{fields[0].content}} {{fields[1].content}}</h3>
			<form>
				<div ng-repeat="field in fields" ng-switch on="field.type" class="field-container"> 
					
					<short-text ng-switch-when="shorttextfield" fieldname='field.fieldname' placeholder='field.placeholder' model='field.content'></short-text>
					<long-text ng-switch-when="longtextfield" fieldname='field.fieldname' placeholder='field.placeholder' model='field.content'></long-text>
					<buttons-radio ng-switch-when="radiobuttons" fieldname='field.fieldname' data-toggle="buttons-radio" model='field.selected' options='field.options'></buttons-radio>
					<checkboxses ng-switch-when="checkboxses" fieldname='field.fieldname' data-toggle="buttons-radio" model='field.selected' options='field.options'></checkboxses>
					
				</div>
			</form>
		</div>
		
	</body>
</html>